# Project 4: West Nile Virus Prediction

## Problem Statement

## Executive Summary


### Contents:
- [Gather Information from Reddit](#Gather-Information-from-Reddit)
- [Modelling the Data](#Modelling-the-Data)
- [Finding Best Model](#Finding-Best-Model)

## Imports and Downloads

In [2]:
#Imports:
import pandas as pd
from tqdm import tqdm
import requests
import time
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as stats
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression

In [4]:
pip install geopy

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/80/93/d384479da0ead712bdaf697a8399c13a9a89bd856ada5a27d462fb45e47b/geopy-1.20.0-py2.py3-none-any.whl (100kB)
    100% |████████████████████████████████| 102kB 177kB/s a 0:00:01
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/5b/ac/4f348828091490d77899bc74e92238e2b55c59392f21948f296e94e50e2b/geographiclib-1.49.tar.gz
Building wheels for collected packages: geographiclib
  Building wheel for geographiclib (setup.py) ... done
  Stored in directory: /Users/kokweilee/Library/Caches/pip/wheels/99/45/d1/14954797e2a976083182c2e7da9b4e924509e59b6e5c661061
Successfully built geographiclib
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.49 geopy-1.20.0
Note: you may need to restart the kernel to use updated packages.

## Train Data Cleaning and Engineering

In [11]:
train = pd.read_csv('./predict-west-nile-virus/train.csv')
train.Date = pd.to_datetime(train.Date)

**Find Distances from the location to the weather stations**

Station 1: CHICAGO O'HARE INTERNATIONAL AIRPORT Lat: 41.995 Lon: -87.933 Elev: 662 ft. above sea level<br>
Station 2: CHICAGO MIDWAY INTL ARPT Lat: 41.786 Lon: -87.752 Elev: 612 ft. above sea level

In [12]:
import geopy.distance as gp

coord1 = (41.995,-87.933)  #coordinates for Chicago O'hare Airport (station 1)
coord2 = (41.786,-87.752)  #coordinates for Chicago Midway Airport (station 2)

dist_fr_1 = []
dist_fr_2 = []

for i in range(len(train.Latitude)):
    coord = (train.Latitude[i],train.Longitude[i])
    dist_fr_1.append(gp.distance(coord1, coord).km)
    dist_fr_2.append(gp.distance(coord2, coord).km)

train['dist_fr_1'] = dist_fr_1
train['dist_fr_2'] = dist_fr_2

In [13]:
train = train.drop(['Address','Block','Street','AddressNumberAndStreet','Latitude','Longitude'],axis=1)
train.head()

,Date,Species,Trap,AddressAccuracy,NumMosquitos,WnvPresent,dist_fr_1,dist_fr_2
0,2007-05-29,CULEX PIPIENS/RESTUANS,T002,9,1,0,11.822004,19.172879
1,2007-05-29,CULEX RESTUANS,T002,9,1,0,11.822004,19.172879
2,2007-05-29,CULEX RESTUANS,T007,9,1,0,13.565470,23.257125
3,2007-05-29,CULEX PIPIENS/RESTUANS,T015,8,1,0,9.261595,21.747902
4,2007-05-29,CULEX RESTUANS,T015,8,4,0,9.261595,21.747902

In [14]:
cols = list(train.drop(columns=["NumMosquitos"]).columns)
train = pd.DataFrame(train.groupby(cols)["NumMosquitos"].agg('sum'))
train = train.reset_index()
train

,Date,Species,Trap,AddressAccuracy,WnvPresent,dist_fr_1,dist_fr_2,NumMosquitos
0,2007-05-29,CULEX PIPIENS,T096,8,0,36.108065,8.628429,1
1,2007-05-29,CULEX PIPIENS/RESTUANS,T002,9,0,11.822004,19.172879,1
2,2007-05-29,CULEX PIPIENS/RESTUANS,T015,8,0,9.261595,21.747902,1
3,2007-05-29,CULEX PIPIENS/RESTUANS,T048,8,0,27.136705,12.129938,1
4,2007-05-29,CULEX PIPIENS/RESTUANS,T050,8,0,21.503137,15.567302,1
5,2007-05-29,CULEX PIPIENS/RESTUANS,T054,8,0,26.233016,18.089150,2
6,2007-05-29,CULEX PIPIENS/RESTUANS,T086,8,0,40.166753,12.527005,1
7,2007-05-29,CULEX PIPIENS/RESTUANS,T129,5,0,29.045076,16.504778,1
8,2007-05-29,CULEX PIPIENS/RESTUANS,T143,8,0,11.394693,23.947243,1
9,2007-05-29,CULEX PIPIENS/RESTUANS,T148,8,0,20.467784,26.251973,1
10,2007-05-29,CULEX RESTUANS,T002,9,0,11.822004,19.172879,1
11,2007-05-29,CULEX RESTUANS,T007,9,0,13.565470,23.257125,1
12,2007-05-29,CULEX RESTUANS,T015,8,0,9.261595,21.747902,4
13,2007-05-29,CULEX RESTUANS,T045,8,0,23.553811,16.652337,2
14,2007-05-29,CULEX RESTUANS,T046,8,0,25.817125,14.209564,1
15,2007-05-29,CULEX RESTUANS,T048,8,0,27.136705,12.129938,2
16,2007-05-29,CULEX RESTUANS,T049,8,0,25.509596,14.650453,1
17,2007-05-29,CULEX RESTUANS,T054,8,0,26.233016,18.089150,3
18,2007-05-29,CULEX RESTUANS,T086,8,0,40.166753,12.527005,1
19,2007-05-29,CULEX RESTUANS,T091,8,0,27.797427,12.051022,1
20,2007-05-29,CULEX RESTUANS,T094,9,0,37.665393,10.173870,3
21,2007-05-29,CULEX RESTUANS,T096,8,0,36.108065,8.628429,5
22,2007-05-29,CULEX RESTUANS,T129,5,0,29.045076,16.504778,2
23,2007-05-29,CULEX RESTUANS,T153,8,0,17.256702,13.531287,1
24,2007-05-29,CULEX RESTUANS,T159,8,0,37.422299,10.350487,1
25,2007-06-05,CULEX PIPIENS,T002,9,0,11.822004,19.172879,1
26,2007-06-05,CULEX PIPIENS,T045,8,0,23.553811,16.652337,1
27,2007-06-05,CULEX PIPIENS,T048,8,0,27.136705,12.129938,2
28,2007-06-05,CULEX PIPIENS,T096,8,0,36.108065,8.628429,1
29,2007-06-05,CULEX PIPIENS,T135,8,0,40.835811,13.958212,1
...,...,...,...,...,...,...,...,...
8580,2013-09-26,CULEX PIPIENS/RESTUANS,T138,5,0,41.503443,15.351524,4
8581,2013-09-26,CULEX PIPIENS/RESTUANS,T151,8,0,14.040317,15.019042,8
8582,2013-09-26,CULEX PIPIENS/RESTUANS,T152,9,0,24.429977,7.302915,2
8583,2013-09-26,CULEX PIPIENS/RESTUANS,T155,9,1,27.465826,2.491297,4
8584,2013-09-26,CULEX PIPIENS/RESTUANS,T158,9,0,39.413326,12.055777,8
8585,2013-09-26,CULEX PIPIENS/RESTUANS,T159,8,0,37.422299,10.350487,21
8586,2013-09-26,CULEX PIPIENS/RESTUANS,T209,5,0,42.747342,17.808986,11
8587,2013-09-26,CULEX PIPIENS/RESTUANS,T212,8,0,48.046815,21.482028,1
8588,2013-09-26,CULEX PIPIENS/RESTUANS,T221,8,0,49.646968,22.663882,5
8589,2013-09-26,CULEX PIPIENS/RESTUANS,T222,8,0,17.305131,15.467828,1
8590,2013-09-26,CULEX PIPIENS/RESTUANS,T223,9,0,10.859848,21.323903,11
8591,2013-09-26,CULEX PIPIENS/RESTUANS,T224,9,0,22.318781,19.115370,3
8592,2013-09-26,CULEX PIPIENS/RESTUANS,T225,8,0,32.572335,5.030870,3
8593,2013-09-26,CULEX PIPIENS/RESTUANS,T226,5,0,32.163767,8.172836,8
8594,2013-09-26,CULEX PIPIENS/RESTUANS,T227,5,0,40.450646,14.091551,7
8595,2013-09-26,CULEX PIPIENS/RESTUANS,T228,8,0,17.888897,18.558155,3
8596,2013-09-26,CULEX PIPIENS/RESTUANS,T230,9,0,17.797195,13.132375,13
8597,2013-09-26,CULEX PIPIENS/RESTUANS,T231,8,0,22.135359,23.466527,5
8598,2013-09-26,CULEX PIPIENS/RESTUANS,T232,9,0,23.798728,15.691058,1
8599,2013-09-26,CULEX PIPIENS/RESTUANS,T233,9,0,10.546092,25.285743,5
8600,2013-09-26,CULEX PIPIENS/RESTUANS,T235,8,0,35.128427,10.438047,1
8601,2013-09-26,CULEX PIPIENS/RESTUANS,T900,9,0,4.174559,23.908500,4
8602,2013-09-26,CULEX PIPIENS/RESTUANS,T900,9,1,4.174559,23.908500,39
8603,2013-09-26,CULEX RESTUANS,T009,8,0,5.807296,24.714700,1
8604,2013-09-26,CULEX RESTUANS,T048,8,0,27.136705,12.129938,7
8605,2013-09-26,CULEX RESTUANS,T082,8,0,32.123978,9.265372,2
8606,2013-09-26,CULEX RESTUANS,T102,5,0,38.439518,12.820177,1
8607,2013-09-26,CULEX RESTUANS,T209,5,0,42.747342,17.808986,1
8608,2013-09-26,CULEX RESTUANS,T220,9,0,20.284030,20.389630,8
8609,2013-09-26,CULEX RESTUANS,T221,8,0,49.646968,22.663882,5

## Reading and Data Cleaning for Weather Data

In [15]:
weather = pd.read_csv('./predict-west-nile-virus/weather.csv')
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [16]:
weather.iloc[[87, 1745, 2067], 21] = (7.48, 7.61, 6.37) # AvgSpeed
weather.iloc[[87, 848, 2410, 2411], 17] = (29.37, 29.09, 29.30, 29.30) # StnPressure
weather.iloc[[848, 2410, 2412, 2415], 7] = (71.89, 64.67, 64.67, 59.44) # WetBulb

In [17]:
def timediff(a,b):
    amin = int(a[:-2])*60 + int(a[-2:])
    bmin = int(b[:-2])*60 + int(b[-2:])
    return abs(amin-bmin)

daylen = []
for i in range(0,len(weather.Sunrise),2):
    diff = timediff(weather.Sunset[i],weather.Sunrise[i])
    daylen.append(diff)
    daylen.append(diff)
weather['daylen']=daylen

In [18]:
weather.PrecipTotal = weather.PrecipTotal.replace('  T',0.001)
weather.PrecipTotal = weather.PrecipTotal.replace('M',0)

In [19]:
for i in range(len(weather.Tavg)):
    if weather.Tavg[i]=='M':
        weather.Tavg[i]= round((weather.Tmax[i]+weather.Tmin[i])/2)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
for index, row in weather[weather['SeaLevel']=='M'].iterrows():
    weather.SeaLevel[index] = np.nanmean(pd.to_numeric(weather[weather['Date']==row['Date']]['SeaLevel'], 
                                                          errors='coerce'))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
cols = ["+FC", "FC", "TS", "GR", "RA","DZ","SN","SG","GS","PL","IC","FG+","FG","BR","UP","HZ","FU",
"VA","DU","DS","PO","SA","SS","PY","SQ","DR","SH","FZ","MI","PR","BC","BL","VC"]

for col in cols:
    weather[col] = 0
    
weather.CodeSum = weather.CodeSum.str.rsplit()
for i in weather[cols]:
    for index, word in weather.CodeSum.iteritems():
        for code in word:
            if code == i:
                weather.loc[index, i] = 1

In [22]:
weather = weather.drop(['Depart','Heat','Cool','Depth','Water1','SnowFall','Sunrise','Sunset','CodeSum'],axis=1)
weather.Date = pd.to_datetime(weather.Date)
for col in ['Tavg','WetBulb','PrecipTotal','StnPressure','SeaLevel','AvgSpeed']:
    weather[col] = pd.to_numeric(weather[col])
weather.head()

,Station,Date,Tmax,Tmin,Tavg,DewPoint,WetBulb,PrecipTotal,StnPressure,SeaLevel,...,PY,SQ,DR,SH,FZ,MI,PR,BC,BL,VC
0,1,2007-05-01,83,50,67.0,51,56.0,0.0,29.10,29.82,...,0,0,0,0,0,0,0,0,0,0
1,2,2007-05-01,84,52,68.0,51,57.0,0.0,29.18,29.82,...,0,0,0,0,0,0,0,0,0,0
2,1,2007-05-02,59,42,51.0,42,47.0,0.0,29.38,30.09,...,0,0,0,0,0,0,0,0,0,0
3,2,2007-05-02,60,43,52.0,42,47.0,0.0,29.44,30.08,...,0,0,0,0,0,0,0,0,0,0
4,1,2007-05-03,66,46,56.0,40,48.0,0.0,29.39,30.12,...,0,0,0,0,0,0,0,0,0,0

## Combine Train and Weather Data

In [23]:
#initialize new weather dataframe

wdf = pd.DataFrame()
for i in range(len(train.Date)):
    dateweather = weather[weather.Date == train.Date[i]].drop(['Date','Station'],axis=1)
    weightedw = (dist_fr_2[i] * dateweather.iloc[0].astype(float) +
             dist_fr_1[i] * dateweather.iloc[1].astype(float))/(dist_fr_1[i] + dist_fr_2[i])
    wdf[i] = weightedw
wdf = wdf.T

In [24]:
finaltrain = train.join(wdf)
finaltrain

,Date,Species,Trap,AddressAccuracy,WnvPresent,dist_fr_1,dist_fr_2,NumMosquitos,Tmax,Tmin,...,PY,SQ,DR,SH,FZ,MI,PR,BC,BL,VC
0,2007-05-29,CULEX PIPIENS,T096,8,0,36.108065,8.628429,1,88.000000,61.907090,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2007-05-29,CULEX PIPIENS/RESTUANS,T002,9,0,11.822004,19.172879,1,88.000000,61.907090,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2007-05-29,CULEX PIPIENS/RESTUANS,T015,8,0,9.261595,21.747902,1,88.000000,61.842004,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2007-05-29,CULEX PIPIENS/RESTUANS,T048,8,0,27.136705,12.129938,1,88.000000,61.493348,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2007-05-29,CULEX PIPIENS/RESTUANS,T050,8,0,21.503137,15.567302,1,88.000000,61.493348,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2007-05-29,CULEX PIPIENS/RESTUANS,T054,8,0,26.233016,18.089150,2,88.000000,62.929130,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2007-05-29,CULEX PIPIENS/RESTUANS,T086,8,0,40.166753,12.527005,1,88.000000,63.224989,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2007-05-29,CULEX PIPIENS/RESTUANS,T129,5,0,29.045076,16.504778,1,88.000000,63.455440,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2007-05-29,CULEX PIPIENS/RESTUANS,T143,8,0,11.394693,23.947243,1,88.000000,63.455440,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2007-05-29,CULEX PIPIENS/RESTUANS,T148,8,0,20.467784,26.251973,1,88.000000,63.175992,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2007-05-29,CULEX RESTUANS,T002,9,0,11.822004,19.172879,1,88.000000,62.900308,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2007-05-29,CULEX RESTUANS,T007,9,0,13.565470,23.257125,1,88.000000,62.959356,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2007-05-29,CULEX RESTUANS,T015,8,0,9.261595,21.747902,4,88.000000,62.959356,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,2007-05-29,CULEX RESTUANS,T045,8,0,23.553811,16.652337,2,88.000000,63.811339,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2007-05-29,CULEX RESTUANS,T046,8,0,25.817125,14.209564,1,88.000000,63.811339,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2007-05-29,CULEX RESTUANS,T048,8,0,27.136705,12.129938,2,88.000000,63.487893,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2007-05-29,CULEX RESTUANS,T049,8,0,25.509596,14.650453,1,88.000000,63.936661,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2007-05-29,CULEX RESTUANS,T054,8,0,26.233016,18.089150,3,88.000000,64.035639,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2007-05-29,CULEX RESTUANS,T086,8,0,40.166753,12.527005,1,88.000000,64.035639,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2007-05-29,CULEX RESTUANS,T091,8,0,27.797427,12.051022,1,88.000000,63.188273,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2007-05-29,CULEX RESTUANS,T094,9,0,37.665393,10.173870,3,88.000000,63.188273,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,2007-05-29,CULEX RESTUANS,T096,8,0,36.108065,8.628429,5,88.000000,61.612064,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,2007-05-29,CULEX RESTUANS,T129,5,0,29.045076,16.504778,2,88.000000,62.190485,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,2007-05-29,CULEX RESTUANS,T153,8,0,17.256702,13.531287,1,88.000000,62.802506,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,2007-05-29,CULEX RESTUANS,T159,8,0,37.422299,10.350487,1,88.000000,63.916696,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,2007-06-05,CULEX PIPIENS,T002,9,0,11.822004,19.172879,1,63.618582,48.525672,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,2007-06-05,CULEX PIPIENS,T045,8,0,23.553811,16.652337,1,63.618582,48.525672,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,2007-06-05,CULEX PIPIENS,T048,8,0,27.136705,12.129938,2,63.618582,48.525672,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,2007-06-05,CULEX PIPIENS,T096,8,0,36.108065,8.628429,1,63.701330,48.194679,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,2007-06-05,CULEX PIPIENS,T135,8,0,40.835811,13.958212,1,63.701330,48.194679,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8580,2013-09-26,CULEX PIPIENS/RESTUANS,T138,5,0,41.503443,15.351524,4,75.000000,52.149216,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8581,2013-09-26,CULEX PIPIENS/RESTUANS,T151,8,0,14.040317,15.019042,8,75.000000,52.149216,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8582,2013-09-26,CULEX PIPIENS/RESTUANS,T152,9,0,24.429977,7.302915,2,75.000000,51.714370,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8583,2013-09-26,CULEX PIPIENS/RESTUANS,T155,9,1,27.465826,2.491297,4,75.000000,52.015203,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8584,2013-09-26,CULEX PIPIENS/RESTUANS,T158,9,0,39.413326,12.055777,8,75.000000,52.015203,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8585,2013-09-26,CULEX PIPIENS/RESTUANS,T159,8,0,37.422299,10.350487,21,75.000000,53.512849,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8586,2013-09-26,CULEX PIPIENS/RESTUANS,T209,5,0,42.747342,17.808986,11,75.000000,53.512849,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8587,2013-09-26,CULEX PIPIENS/RESTUANS,T212,8,0,48.046815,21.482028,1,75.000000,52.419913,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8588,2013-09-26,CULEX PIPIENS/RESTUANS,T221,8,0,49.646968,22.663882,5,75.000000,52.319051,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8589,2013-09-26,CULEX PIPIENS/RESTUANS,T222,8,0,17.305131,15.467828,1,75.000000,53.087584,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8590,2013-09-26,CULEX PIPIENS/RESTUANS,T223,9,0,10.859848,21.323903,11,75.000000,53.087584,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8591,2013-09-26,CULEX PIPIENS/RESTUANS,T224,9,0,22.318781,19.115370,3,75.000000,53.087584,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8592,2013-09-26,CULEX PIPIENS/RESTUANS,T225,8,0,32.572335,5.030870,3,75.000000,53.087584,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8593,2013-09-26,CULEX PIPIENS/RESTUANS,T226,5,0,32.163767,8.172836,8,75.000000,52.042005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8594,2013-09-26,CULEX PIPIENS/RESTUANS,T227,5,0,40.450646,14.091551,7,75.000000,53.953670,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8595,2013-09-26,CULEX PIPIENS/RESTUANS,T228,8,0,17.888897,18.558155,3,75.000000,52.895113,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8596,2013-09-26,CULEX PIPIENS/RESTUANS,T230,9,0,17.797195,13.132375,13,75.000000,54.139029,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8597,2013-09-26,CULEX PIPIENS/RESTUANS,T231,8,0,22.135359,23.466527,5,75.000000,54.420275,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8598,2013-09-26,CULEX PIPIENS/RESTUANS,T232,9,0,23.798728,15.691058,1,75.000000,54.853437,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8599,2013-09-26,CULEX PIPIENS/RESTUANS,T233,9,0,10.546092,25.285743,5,75.000000,54.853437,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8600,2013-09-26,CULEX PIPIENS/RESTUANS,T235,8,0,35.128427,10.438047,1,75.000000,54.387387,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8601,2013-09-26,CULEX PIPIENS/RESTUANS,T900,9,0,4.174559,23.908500,4,75.000000,54.184286,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8602,2013-09-26,CULEX PIPIENS/RESTUANS,T900,9,1,4.174559,23.908500,39,75.000000,53.725780,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8603,2013-09-26,CULEX RESTUANS,T009,8,0,5.807296,24.714700,1,75.000000,53.725780,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8604,2013-09-26,CULEX RESTUANS,T048,8,0,27.136705,12.129938,7,75.000000,53.906275,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8605,2013-09-26,CULEX RESTUANS,T082,8,0,32.123978,9.265372,2,75.000000,53.906275,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8606,2013-09-26,CULEX RESTUANS,T102,5,0,38.439518,12.820177,1,75.000000,53.576048,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8607,2013-09-26,CULEX RESTUANS,T209,5,0,42.747342,17.808986,1,75.000000,53.576048,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8608,2013-09-26,CULEX RESTUANS,T220,9,0,20.284030,20.389630,8,75.000000,53.786060,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8609,2013-09-26,CULEX RESTUANS,T221,8,0,49.646968,22.663882,5,75.000000,53.786060,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# do i want to remove rows? finaltrain[finaltrain.NumMosquitos==50]

## Test Data Cleaning and Engineering

In [249]:
test = pd.read_csv('./predict-west-nile-virus/test.csv')
test = test.drop(['Address','Block','Street','Trap','AddressNumberAndStreet'],axis=1)

In [251]:
coord1 = (41.995,-87.933)  #coordinates for Chicago O'hare Airport (station 1)
coord2 = (41.786,-87.752)  #coordinates for Chicago Midway Airport (station 2)

dist_fr_1 = []
dist_fr_2 = []

for i in range(len(test.Latitude)):
    coord = (test.Latitude[i],test.Longitude[i])
    dist_fr_1.append(gp.distance(coord1, coord).km)
    dist_fr_2.append(gp.distance(coord2, coord).km)

test['dist_fr_1'] = dist_fr_1
test['dist_fr_2'] = dist_fr_2

In [252]:
test.head()

,Id,Date,Species,Latitude,Longitude,AddressAccuracy,dist_fr_1,dist_fr_2
0,1,2008-06-11,CULEX PIPIENS/RESTUANS,41.95469,-87.800991,9,11.822004,19.172879
1,2,2008-06-11,CULEX RESTUANS,41.95469,-87.800991,9,11.822004,19.172879
2,3,2008-06-11,CULEX PIPIENS,41.95469,-87.800991,9,11.822004,19.172879
3,4,2008-06-11,CULEX SALINARIUS,41.95469,-87.800991,9,11.822004,19.172879
4,5,2008-06-11,CULEX TERRITANS,41.95469,-87.800991,9,11.822004,19.172879

## Combine Test and Weather Data

In [256]:
#initialize new weather dataframe

wdftest = pd.DataFrame()
for i in range(len(test.Date)):
    dateweather = weather[weather.Date == test.Date[i]].drop(['Date','Station'],axis=1)
    weightedw = (test.dist_fr_2[i] * dateweather.iloc[0].astype(float) +
             test.dist_fr_1[i] * dateweather.iloc[1].astype(float))/(test.dist_fr_1[i] + test.dist_fr_2[i])
    wdftest[i] = weightedw
wdftest = wdftest.T

In [261]:
finaltest = test.join(wdftest)
finaltest.drop(['Id','Latitude','Longitude'],axis=1,inplace=True)

#Test data source set to be 0.
finaltest['Source']=0
finaltest.columns

Index(['Date', 'Species', 'AddressAccuracy', 'dist_fr_1', 'dist_fr_2', 'Tmax',
       'Tmin', 'Tavg', 'DewPoint', 'WetBulb', 'PrecipTotal', 'StnPressure',
       'SeaLevel', 'ResultSpeed', 'ResultDir', 'AvgSpeed', 'daylen', '+FC',
       'FC', 'TS', 'GR', 'RA', 'DZ', 'SN', 'SG', 'GS', 'PL', 'IC', 'FG+', 'FG',
       'BR', 'UP', 'HZ', 'FU', 'VA', 'DU', 'DS', 'PO', 'SA', 'SS', 'PY', 'SQ',
       'DR', 'SH', 'FZ', 'MI', 'PR', 'BC', 'BL', 'VC', 'Source'],
      dtype='object')

## Combine Train and Test Data to Perform Encoding

In [25]:
target = finaltrain.WnvPresent
finaltrain = finaltrain.drop(['Trap','NumMosquitos','WnvPresent'],axis=1)

#Train data source set to be 1.
finaltrain['Source']=1
finaltrain.columns

Index(['Date', 'Species', 'AddressAccuracy', 'dist_fr_1', 'dist_fr_2', 'Tmax',
       'Tmin', 'Tavg', 'DewPoint', 'WetBulb', 'PrecipTotal', 'StnPressure',
       'SeaLevel', 'ResultSpeed', 'ResultDir', 'AvgSpeed', 'daylen', '+FC',
       'FC', 'TS', 'GR', 'RA', 'DZ', 'SN', 'SG', 'GS', 'PL', 'IC', 'FG+', 'FG',
       'BR', 'UP', 'HZ', 'FU', 'VA', 'DU', 'DS', 'PO', 'SA', 'SS', 'PY', 'SQ',
       'DR', 'SH', 'FZ', 'MI', 'PR', 'BC', 'BL', 'VC', 'Source'],
      dtype='object')

In [26]:
final = pd.concat([finaltrain, finaltest], ignore_index=True)
final = pd.concat([final, pd.get_dummies(final.Species)], axis = 1)
final.drop(['Species','Date'],axis=1,inplace=True)

NameError: name 'finaltest' is not defined

## Split back into Train and Test Data

In [312]:
final_test = final[final.Source==0].reset_index().drop(['Source','index'],axis=1)
final_train = final[final.Source==1].drop(['Source'],axis=1)
final_test.to_csv('./finaltest.csv')
final_train.to_csv('./finaltrain.csv')

In [5]:
final_test = pd.read_csv('./finaltest.csv')
final_train = pd.read_csv('./finaltrain.csv')

# Run Classfication Models to Predict if WNV is Present

In [374]:
pip install imblearn

Collecting imblearn
  Downloading https://files.pythonhosted.org/packages/81/a7/4179e6ebfd654bd0eac0b9c06125b8b4c96a9d0a8ff9e9507eb2a26d2d7e/imblearn-0.0-py2.py3-none-any.whl
Collecting imbalanced-learn (from imblearn)
  Downloading https://files.pythonhosted.org/packages/e6/62/08c14224a7e242df2cef7b312d2ef821c3931ec9b015ff93bb52ec8a10a3/imbalanced_learn-0.5.0-py3-none-any.whl (173kB)
    100% |████████████████████████████████| 174kB 273kB/s ta 0:00:01
Collecting joblib>=0.11 (from imbalanced-learn->imblearn)
  Using cached https://files.pythonhosted.org/packages/cd/c1/50a758e8247561e58cb87305b1e90b171b8c767b15b12a1734001f41d356/joblib-0.13.2-py2.py3-none-any.whl
Collecting scikit-learn>=0.21 (from imbalanced-learn->imblearn)
  Downloading https://files.pythonhosted.org/packages/e9/57/8a9889d49d0d77905af5a7524fb2b468d2ef5fc723684f51f5ca63efed0d/scikit_learn-0.21.3-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (10.5MB)
    100% |████████████████████████████████| 10.5MB 185kB/s ta 0:00:01   66% |█████████████████████▏          | 7.0MB 72kB/s eta 0:00:50
Requirement already satisfied: scipy>=0.17 in /anaconda3/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.2.1)
Requirement already satisfied: numpy>=1.11 in /anaconda3/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.16.2)
Installing collected packages: joblib, scikit-learn, imbalanced-learn, imblearn
  Found existing installation: scikit-learn 0.20.3
    Uninstalling scikit-learn-0.20.3:
      Successfully uninstalled scikit-learn-0.20.3
Successfully installed imbalanced-learn-0.5.0 imblearn-0.0 joblib-0.13.2 scikit-learn-0.21.3
Note: you may need to restart the kernel to use updated packages.

In [375]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import (BaggingClassifier, RandomForestClassifier, AdaBoostClassifier)
from sklearn.svm import SVC
from imblearn.ensemble import BalancedBaggingClassifier

from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import StandardScaler

ImportError: cannot import name '_astype_copy_false' from 'sklearn.utils.fixes' (/anaconda3/lib/python3.7/site-packages/sklearn/utils/fixes.py)

In [357]:
scaled = StandardScaler().fit_transform(final_train)

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [358]:
X_train, X_test, y_train, y_test = train_test_split(scaled, target, test_size=0.25, random_state=42)

In [304]:
1-target.mean()

0.9475537787930707

In [359]:
lr = LogisticRegression(class_weight='balanced').fit(X_train,y_train)
print('score:', lr.score(X_test,y_test))
tn, fp, fn, tp = confusion_matrix(y_test, lr.predict(X_test)).ravel()
print('True Negative:',tn)
print('False Positive:',fp)
print('False Negative:',fn)
print('True Positive:',tp)
roc_auc_score(y_test, lr.predict(X_test))

score: 0.6444613627712219
True Negative: 1603
False Positive: 890
False Negative: 44
True Positive: 90

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.6573210960839604

In [345]:
knn = KNeighborsClassifier().fit(X_train,y_train)
print('score:', knn.score(X_test,y_test))
tn, fp, fn, tp = confusion_matrix(y_test, knn.predict(X_test)).ravel()
print('True Negative:',tn)
print('False Positive:',fp)
print('False Negative:',fn)
print('True Positive:',tp)
roc_auc_score(y_test, knn.predict(X_test))

score: 0.9459459459459459
True Negative: 2474
False Positive: 19
False Negative: 123
True Positive: 11

0.5372341062437511

In [346]:
dtc = DecisionTreeClassifier().fit(X_train,y_train)
print('score:',dtc.score(X_test,y_test))
tn, fp, fn, tp = confusion_matrix(y_test,dtc.predict(X_test)).ravel()
print('True Negative:',tn)
print('False Positive:',fp)
print('False Negative:',fn)
print('True Positive:',tp)
roc_auc_score(y_test, dtc.predict(X_test))

score: 0.9261515036162924
True Negative: 2412
False Positive: 81
False Negative: 113
True Positive: 21

0.562112721590603

In [347]:
bc = BaggingClassifier().fit(X_train,y_train)
print('score:', bc.score(X_test,y_test))
tn, fp, fn, tp = confusion_matrix(y_test, bc.predict(X_test)).ravel()
print('True Negative:',tn)
print('False Positive:',fp)
print('False Negative:',fn)
print('True Positive:',tp)
roc_auc_score(y_test, bc.predict(X_test))

score: 0.9413779977160259
True Negative: 2453
False Positive: 40
False Negative: 114
True Positive: 20

0.5666044027755327

In [355]:
rf = RandomForestClassifier(class_weight='balanced').fit(X_train,y_train)
print('score:',rf.score(X_test,y_test))
tn, fp, fn, tp = confusion_matrix(y_test, rf.predict(X_test)).ravel()
print('True Negative:',tn)
print('False Positive:',fp)
print('False Negative:',fn)
print('True Positive:',tp)
roc_auc_score(y_test, rf.predict(X_test))

score: 0.9227255424438523
True Negative: 2396
False Positive: 97
False Negative: 106
True Positive: 28

/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.5850231394172338

In [349]:
ab = AdaBoostClassifier().fit(X_train,y_train)
print('score:', ab.score(X_test,y_test))
tn, fp, fn, tp = confusion_matrix(y_test, ab.predict(X_test)).ravel()
print('True Negative:',tn)
print('False Positive:',fp)
print('False Negative:',fn)
print('True Positive:',tp)
roc_auc_score(y_test, ab.predict(X_test))

score: 0.9489912447658927
True Negative: 2493
False Positive: 0
False Negative: 134
True Positive: 0

0.5

In [366]:
svc = SVC(class_weight='balanced').fit(X_train,y_train)
print('score:', svc.score(X_test,y_test))
tn, fp, fn, tp = confusion_matrix(y_test, svc.predict(X_test)).ravel()
print('True Negative:',tn)
print('False Positive:',fp)
print('False Negative:',fn)
print('True Positive:',tp)
roc_auc_score(y_test, svc.predict(X_test))

/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

score: 0.699657403882756
True Negative: 1730
False Positive: 763
False Negative: 26
True Positive: 108

0.7499565948835846

## Perform Predictions

In [361]:
final_test_scaled = StandardScaler().fit_transform(final_test)

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [379]:
predictions = dtc.predict(final_test_scaled)

In [380]:
result = pd.DataFrame(np.array(range(1,len(predictions)+1)),columns=['Id'])
result['WnvPresent'] = predictions

In [381]:
result.to_csv('./results_dtc.csv',index=False)

**Results from Kaggle**

lr score: 0.63<br>
svc score: 0.61<br>

# Conclusion